// Cores base
$color-primary: #8204FE;
$color-secondary: #01C90F;
$color-accent: #FF9800;

// Cores de UI
$color-text: #333;
$color-light-gray: #f0f0f0;
$color-border: #ddd;
$color-white: #fff;

// Fontes
$font-main: 'Roboto', sans-serif;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;